<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUWXdlQtTxFk_yQcFU3cELhl40W9pFvzs</string>
	<key>GCM_SENDER_ID</key>
	<string>647812089157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poppinroadcimema</string>
	<key>PROJECT_ID</key>
	<string>test-54e68</string>
	<key>STORAGE_BUCKET</key>
	<string>test-54e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647812089157:ios:4b13b50d145ab466d3ea2c</string>
	<key>DATABASE_URL</key>
	<string>https://test-54e68-default-rtdb.firebaseio.com</string>
</dict>
</plist>